@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&display=swap');
html{
  font-size: 62.5%;
  color: #191716;
}
body {
  font-family: 'Darker Grotesque', sans-serif;
  margin: 0;
}
